

/* ================ COLORS ================ */
$blue_main: #2D7555;
$green_main: #EF790D;
$white_main: #fff;


/* ================ SIZES ================ */
$logo_4x: 36rem;


/* ================ TEXTS ================ */
$description_4x: 5rem;


